In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from scipy.sparse import csr_matrix

In [27]:
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [3]:
movies = pd.read_csv('D:/CSR_MATRIX/test.csv')
movies.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [ ]:
movies.head()

In [ ]:
movies.shape

In [4]:
movies.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Id,1459.0,2190.000000,421.321334,1461.0,1825.50,2190.0,2554.50,2919.0
MSSubClass,1459.0,57.378341,42.746880,20.0,20.00,50.0,70.00,190.0
LotFrontage,1232.0,68.580357,22.376841,21.0,58.00,67.0,80.00,200.0
LotArea,1459.0,9819.161069,4955.517327,1470.0,7391.00,9399.0,11517.50,56600.0
OverallQual,1459.0,6.078821,1.436812,1.0,5.00,6.0,7.00,10.0
OverallCond,1459.0,5.553804,1.113740,1.0,5.00,5.0,6.00,9.0
YearBuilt,1459.0,1971.357779,30.390071,1879.0,1953.00,1973.0,2001.00,2010.0
YearRemodAdd,1459.0,1983.662783,21.130467,1950.0,1963.00,1992.0,2004.00,2010.0
MasVnrArea,1444.0,100.709141,177.625900,0.0,0.00,0.0,164.00,1290.0
BsmtFinSF1,1458.0,439.203704,455.268042,0.0,0.00,350.5,753.50,4010.0
BsmtFinSF2,1458.0,52.619342,176.753926,0.0,0.00,0.0,0.00,1526.0
BsmtUnfSF,1458.0,554.294925,437.260486,0.0,219.25,460.0,797.75,2140.0
TotalBsmtSF,1458.0,1046.117970,442.898624,0.0,784.00,988.0,1305.00,5095.0
1stFlrSF,1459.0,1156.534613,398.165820,407.0,873.50,1079.0,1382.50,5095.0
2ndFlrSF,1459.0,325.967786,420.610226,0.0,0.00,0.0,676.00,1862.0
LowQualFinSF,1459.0,3.543523,44.043251,0.0,0.00,0.0,0.00,1064.0
GrLivArea,1459.0,1486.045922,485.566099,407.0,1117.50,1432.0,1721.00,5095.0
BsmtFullBath,1457.0,0.434454,0.530648,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1457.0,0.065202,0.252468,0.0,0.00,0.0,0.00,2.0
FullBath,1459.0,1.570939,0.555190,0.0,1.00,2.0,2.00,4.0
HalfBath,1459.0,0.377656,0.503017,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1459.0,2.854010,0.829788,0.0,2.00,3.0,3.00,6.0
KitchenAbvGr,1459.0,1.042495,0.208472,0.0,1.00,1.0,1.00,2.0
TotRmsAbvGrd,1459.0,6.385195,1.508895,3.0,5.00,6.0,7.00,15.0
Fireplaces,1459.0,0.581220,0.647420,0.0,0.00,0.0,1.00,4.0
GarageYrBlt,1381.0,1977.721217,26.431175,1895.0,1959.00,1979.0,2002.00,2207.0
GarageCars,1458.0,1.766118,0.775945,0.0,1.00,2.0,2.00,5.0
GarageArea,1458.0,472.768861,217.048611,0.0,318.00,480.0,576.00,1488.0
WoodDeckSF,1459.0,93.174777,127.744882,0.0,0.00,0.0,168.00,1424.0
OpenPorchSF,1459.0,48.313914,68.883364,0.0,0.00,28.0,72.00,742.0
EnclosedPorch,1459.0,24.243317,67.227765,0.0,0.00,0.0,0.00,1012.0
3SsnPorch,1459.0,1.794380,20.207842,0.0,0.00,0.0,0.00,360.0
ScreenPorch,1459.0,17.064428,56.609763,0.0,0.00,0.0,0.00,576.0
PoolArea,1459.0,1.744345,30.491646,0.0,0.00,0.0,0.00,800.0
MiscVal,1459.0,58.167923,630.806978,0.0,0.00,0.0,0.00,17000.0
MoSold,1459.0,6.104181,2.722432,1.0,4.00,6.0,8.00,12.0
YrSold,1459.0,2007.769705,1.301740,2006.0,2007.00,2008.0,2009.00,2010.0

In [5]:
ratings = pd.read_csv('D:/CSR_MATRIX/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [ ]:
ratings.shape

In [ ]:
ratings.describe().transpose()

In [ ]:
movies.head()

In [ ]:
movies.tail()

In [ ]:
ratings.head()

In [6]:
ratings.groupby('movieId').rating.mean()
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [7]:
df=movies.join(ratings,lsuffix='N', rsuffix='K')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,userId,movieId,rating,timestamp
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,6,2010,WD,Normal,1,296,5.0,1147880044
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,Gar2,12500,6,2010,WD,Normal,1,306,3.5,1147868817
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,3,2010,WD,Normal,1,307,5.0,1147868828
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,6,2010,WD,Normal,1,665,5.0,1147878820
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,NaN,0,1,2010,WD,Normal,1,899,3.5,1147868510

In [8]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,userId,movieId,rating,timestamp
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,NaN,0,6,2010,WD,Normal,1,296,5.0,1147880044
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,Gar2,12500,6,2010,WD,Normal,1,306,3.5,1147868817
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,3,2010,WD,Normal,1,307,5.0,1147868828
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,NaN,0,6,2010,WD,Normal,1,665,5.0,1147878820
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,NaN,0,1,2010,WD,Normal,1,899,3.5,1147868510

In [9]:
'''df=df.drop(['genres','movie_info','critics_consensus','content_rating','directors','authors','actors','original_release_date'], axis=1)
df.head()'''

KeyError: "['genres', 'movie_info', 'critics_consensus', 'content_rating', 'directors', 'authors', 'actors', 'original_release_date'] not found in axis"

In [28]:
movies_user=df.pivot(index='movieId',columns='userId',values='rating').fillna=0
matrix_movies_user=csr_matrix(movies_user.values)
print(matrix_movies_user)

AttributeError: 'int' object has no attribute 'values'

In [29]:
knn=NearestNeighbours(metric='cosine', algorithm='brute',n_neighbours= 10)

NameError: name 'NearestNeighbours' is not defined

In [30]:
knn.fit(matrix_movies_user)

NameError: name 'knn' is not defined

In [31]:
def recommender(movie_name,data, model, n_recommendation):
    model.fit(data)
    idx=process.extractOne(movie_name, df['title'])[2]
    print('Movie Selected:- ',df['title'][idx], 'Index: ',idx)
    print('Searching for recommendations....')
    distances, indices=model.kneighbours(data[idx],n_neighbours= n_recommendation)
    for i in indices:
        print(df['title'][i].where(i=idx))

In [32]:
recommender('Bad Poems',matrix_movies_user, knn,5)

NameError: name 'matrix_movies_user' is not defined